@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-pink-800 inline-block text-transparent bg-clip-text;
  }

  .form {
    @apply flex flex-col gap-6 mb-5;
  }

  .form-group {
    @apply flex flex-col;
  }

  .input-field {
    @apply border-2 focus:outline-none p-2 rounded-lg focus:border-rose-500 focus:border-2;
  }
}
